<body>

<div class = "grid-container">
<div class="item1">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="navbar">
					<ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="/home">Home</a></li>
						<li role="presentation" class="active"><a href="/allRooms">Party Rooms</a></li>
            <li role="presentation" class="active"><a href="/songs">Your Party</a></li>												
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="item2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">All Party Rooms</div>
                    <div class="panel-body">
                      <p>Select or delete your party room here!</p>
                    </div>
                  
                    <!-- List group -->
                    <ul class="list-group">
                      <li class="list-group-item">Party Room Name 
                        <button class="btn btn-primary" id="selectButton" type="submit">Select</button>
                        <!-- <button class="btn btn-primary" id="deleteButton" type="submit">Delete</button>  -->
                      </li>
                      <li class="list-group-item">Dapibus ac facilisis in
                        <button class="btn btn-primary" id="selectButton" type="submit">Select</button>
                        <!-- <button class="btn btn-primary" id="deleteButton" type="submit">Delete</button> -->
                      </li>
                    </ul>
                  </div>
            </div>
        </div>
    </div>
</div>


<div class="item3">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p>&#169 MEGA TUNES LLC</p>
			</div>
		</div>
	</div>
</div>



<script src="../js/allRooms.js"></script>
	
</body>