<body>

<div class = "grid-container">
<div class="number1">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="navbar">
					<ul class="nav nav-tabs">
						<li role="presentation" class="active"><a href="/home">Home</a></li>
						<li role="presentation" class="active"><a href="/allRooms">Party Rooms</a></li>
                        <li role="presentation" class="active"><a href="/songs">Your Party</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="number2">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title">
					<h1>House Tunes</h1>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="number3">
				<div class="row">
					<div class="col-md-12">
						<div class="instructionTitle">
							<h3>How to Use</h3>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="instructions">
							<p>Have you ever been to a party where the music sucks? Have you ever been a host, and 
							   have no idea what to play?  Now you can have everyone participate in the music 
							   selection of the party!</p>
							<br>
							<p>First search or create your party room.  Then look up songs that you want to play.
							   You can also see everyones request and vote for which songs you want to hear first.
							   The most voted songs will always play first, so the crappy music will have the 
							   lowest priority.  Never hear terrible music again!
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="number4">
				<div class="row">
					<div class="col-md-12">
						<form>
							<div class="form-group">
								<label for="create-party-input">Create Party Room</label>
								<input class="form-control" id="create-party-input" type="text">
							</div>
							<a href="/songs"><button class="btn btn-primary" id="createButton" type="submit">Create</button></a>
							
							<div class="form-group">
									<label for="search-party-room">Search for Party Room</label>
									<input class="form-control" id="search-party-room" type="text">
							</div>
						</form>
						<a href="/allRooms"><button class="btn btn-primary" id="searchButton" type="submit">Search</button></a>
					</div>
				</div>	
			</div>
		</div>

	</div>
</div>

<div class="number5">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p>&#169 MEGA TUNES LLC</p>
			</div>
		</div>
	</div>
</div>



<script src="./js/home.js"></script>

</body>