<body>

<div class = "grid-container">
<div class="item1">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="navbar">
					<ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a href="/home">Home</a></li>
                        <li role="presentation" class="active"><a href="/allRooms">Party Rooms</a></li>
                        <li role="presentation" class="active"><a href="/songs">Your Party</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            {{!-- <div class="col-md-6">
                    <div class="item4">
                            <div class="row">
                                <div class="col-md-12">
                                    <form>
                                        <div class="form-group">
                                            <label for="create-party-input">Search song</label>
                                            <input class="form-control" id="create-party-input" type="text">
                                        </div>
                                        <button class="btn btn-primary" id="createButton" type="submit">search</button>
                                        
                                        <div class="form-group">
                                                <label for="search-party-room">songs</label>
                                                <input class="form-control" id="search-party-room" type="text">
                                        </div>
                                    </form>
                                    <button class="btn btn-primary" id="searchButton" type="submit">select</button>
                                </div>
                            </div>	
                        </div>
            </div> --}}


        </div>

        <div class="item3">
            <div class="col-md-6">
                    <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading">Your Room</div>
                            <div class="panel-body youtubePlayer">
                              <p>Play youtube video here in the panel</p>
                            </div>
                          
                            <!-- List group -->
                            <ul class="list-group">
                              <li class="list-group-item">Song #1
                                <button class="btn btn-primary" id="likeButton" type="submit">Like</button>
                                <!-- <button class="btn btn-primary" id="deleteButton" type="submit">Delete</button>  -->
                              </li>
                              <li class="list-group-item">Song #2
                                    <button class="btn btn-primary" id="likeButton" type="submit">Like</button>
                                    <!-- <button class="btn btn-primary" id="deleteButton" type="submit">Delete</button>  -->
                              </li>
                              
                            </ul>
                    </div>
            </div>
        </div>
    </div>
</div>




<div class="item4">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p>&#169 MEGA TUNES LLC</p>
			</div>
		</div>
	</div>
</div>
</div>


<script src="../js/songs.js"></script>
	
</body>